/* HTML */
:root {
  --grass: #20767c70;
  --fire: #aa4a2470;
  --water: #3168a370;
  --bug: #58704170;
  --normal: #4c575c70;
  --flying: #829ca870;
  --poison: #722c9d70;
  --electric: #b8a60070;
  --ground: #724b0f70;
  --fairy: #ca58b570;
}

html {
  background-color: #0b0b0b;
  opacity: 1;
  background-image:  linear-gradient(30deg, #141414 12%, transparent 12.5%, transparent 87%, #141414 87.5%, #141414), linear-gradient(150deg, #141414 12%, transparent 12.5%, transparent 87%, #141414 87.5%, #141414), linear-gradient(30deg, #141414 12%, transparent 12.5%, transparent 87%, #141414 87.5%, #141414), linear-gradient(150deg, #141414 12%, transparent 12.5%, transparent 87%, #141414 87.5%, #141414), linear-gradient(60deg, #14141477 25%, transparent 25.5%, transparent 75%, #14141477 75%, #14141477), linear-gradient(60deg, #14141477 25%, transparent 25.5%, transparent 75%, #14141477 75%, #14141477);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  background-attachment: fixed;
}
body {
  box-sizing: border-box;
  max-width: 1300px;
  margin: auto;
  color: white;
  font-family: Georgia;
  padding: 1em;
}

h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
  /* letter-spacing: 1px; */
}
h1 {
  text-align: center;
}
p {
  font-family: verdana;
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
  padding: 1em;
}
a {
  text-decoration: none;
  font-size: 1.2em;
}

a:active, a:visited {
  color: white;
}
a:hover {
  color: rgb(109, 109, 109);
}
/* ENTRIES */


.flex {
  display: flex;
  /* justify-content:space-around; */
  gap: 3em;
  flex-wrap: wrap;
}

.entry {
  width: 350px;
  margin: auto;
  line-height: 1em;
  padding: 1em;
  border-radius: 1em;
}

img {
  width: 100%;
  margin: auto;
  display: block;
  border-radius: 1em;
  animation-name: hoverout;
  animation-duration: 0.3s;
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

img:hover {
  animation-name: hoverin;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);

}
.stat p {
  display: inline-block;
  margin-right: 1.5em;
}


/* TYPE */

.grass {
  background-color: var(--grass);
}

.fire {
  background-color: var(--fire);
}

.water {
  background-color: var(--water);
}

.bug  {
  background-color: var(--bug);
}

.normal {
  background-color: var(--normal);
}

.flying {
  background-color: var(--flying);
}

.poison {
  background-color: var(--poison);
}

.electric {
  background-color: var(--electric)
}

.ground {
  background-color: var(--ground);
}

.fairy {
  background-color: var(--fairy);
}
/* ANIMATION */

@keyframes hoverout {
  from {
    transform: scale(1.1);
    filter: brightness(110%);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hoverin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}